# Default ownership - replace with your GitHub handle / team.
*                       @adblocker/maintainers

# Code areas
/bpf/                   @adblocker/kernel
/internal/loader/       @adblocker/kernel
/internal/cli/          @adblocker/userspace
/internal/lists/        @adblocker/userspace
/tui/                   @adblocker/tui

# Release & infra
/.github/               @adblocker/release
/.goreleaser.yaml       @adblocker/release
/Dockerfile             @adblocker/release
/docs/RELEASING.md      @adblocker/release
/SECURITY.md            @adblocker/security
